<ul class="menu">
    <li>
        <a href="#">sdfdsf </a>
    </li>
    <!--data Entery Section drop down menu-->
    <li>
        <a href="#">sdfdf</a>
        <ul>
            <li><a href="#">zxc</a></li>
            <li><a href="#">sdfdf</a></li>
            <li><a href="">xdfd</a></li>
            <li><a href="">sdfd</a></li>
            <li><a href="#">sdf</a></li>
            <li><a href="#">sdf </a></li>
            <li><a href="#">V</a></li>
        </ul>
    </li>
    <!--Promotion drop down-->
    <li>
        <a href="">cvcv</a>
        <ul>
            <li><a href="">cvcVie</a></li>
        </ul>
    </li>
    <!--subject and section adjustment drop down-->
    <li>
        <a href="#">sdfdf</a>
        <ul class="sub">
            <li><a href="#"> View</a></li>
            <li><a href="#">Vi</a></li>
        </ul>
    </li>
    <!--Manage entry drop down-->
    <li>
        <a href="#">forma</a>
        <ul>
            <li><a href="#">Vie</a></li>
            <li><a href="#">ViewD</a></li>
            <li><a href="#">View</a></li>
        </ul>
    </li>
    <!--user Management drop down-->
    <li>
        <a href="">gffg</a>
        <ul>
            <li><a href="#">fgfg</a></li>
            <li><a href="#">View</a></li>
            <li><a href="#">Vi</a></li>
            <li><a href="#">iewData</a></li>
        </ul>
    </li>
    <!--Certificate printing section drop down-->
    <li>
        <a href="#">sdf</a>
        <ul class="sub">
            <li><a href="">@Vie</a></li>
        </ul>
    </li>
    <!--Certificate verification section drop down-->
    <li>
        <a href="#">dfdf</a>
        <ul>
            <li><a href="">Vie</a></li>
        </ul>
    </li>
    <!--Reports drop down-->
    <li>
        <a href="">V</a>
        <ul>
            <li>
                <a href="">dfgfg</a>
            </li>
        </ul>
    </li>
</ul>

