
        
       
        
        <script src="bootstrap.min.js"></script>
        <script src="jquery.min.js"></script>
        <script src="navbar.component.js"></script>
        

    <nav class="navbar navbar-default mega-nav">
        <div class="container">
            <div class="collapse navbar-collapse" id="MainMenu">
                <ul class="nav navbar-nav menu-list">
                    <li><a href="#">Home</a></li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Data Entry <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">10th Class</a></li>
                            <li><a href="#">11th Class</a></li>
                            <li><a href="#">12th Class</a></li>
                            <li><a href="#">3 Years Score</a></li>
                            <li><a href="#">Result ‌‌‌‌‌Book</a></li>
                            <li><a href="#">Registering Class</a></li>
                            <li><a href="#">Transfered Student</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Upgrade <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Upgrade Student</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Setting <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Subject Setting</a></li>
                            <li><a href="#">Section Setting</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Info Correction <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Province Info Correction</a></li>
                            <li><a href="#">Center Info Correction</a></li>
                            <li><a href="#">Individual Correction</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Certificate<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Print Certificate</a></li>
                            <li><a href="#">Verify Certificate</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i> &nbsp; User &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Create User</a></li>
                            <li><a href="#">Manage Role</a></li>
                            <li><a href="#">Provincial Monitor</a></li>
                            <li><a href="#">Center Monitor</a></li>
                        </ul>
                    </li>

                    <li class="dropdown list-category">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>Reports <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </li>



                </ul>

            </div>
        </div>
    </nav>
